*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    background-color:teal;
    width:100%;
    height:65px;
}
.nav h1{
    color:white;
    line-height: 65px;
    float: left;
    font-size: 30px;
    
}
.nav img{
    width:85px;
    height:60px;
    padding: 0 15px;
    float: left;
}
.nav .menu {
    list-style: none;
    text-align: center;
    float: right;
}

.menu li {
    line-height: 65px;
    display: inline-block;
}
.menu li a {
    text-decoration: none;
    color:white;
    font-size: 18px;
    transition: .4s;
    width: 160px;
    display: block;
}
li a i {
    font-size: 20px;
    color: white;
    padding-right: 7px;
}

.menu li a:hover {
    background-color:#FF5733 ;
}
.banner{
    width:100%;
    height:543px;
    background-image: url(home.jpg);
    background-size: cover;
    padding-top: 7%;
}
.bannerin{
    width:700px;
    height:350px;
    border-radius: 8px;
    background-color: black;
    opacity: 0.6;
    margin:auto;
}
.bottom{
    background-color: teal;
    width:100%;
    height:70px;
    padding: 10px;
}
.bottom h3{
    color:white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.bottom i{
    color: white;
    padding:15px;
}